* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 4.5rem;

  --hue: 159;

  --base-color: #ff8b00;
  --base-color-second: #fdbb2d;
  --base-color-alt: #ff4d00;
  --title-color: white;
  --text-color: white;
  --text-color-light: hsl(0 0% 98%);
  --body-color: #222321;

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
